<div class="login-wrapper">

<div class="login-box">
  <div class="login-logo">
    <a href="#"><img src="/images/logo.png" alt="Hapi.js"></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Forgot Password</p>
    {{> flash}}    
    <form method='post'>
      <div class="form-group has-feedback">        
		<input type="email" placeholder="Email" class="form-control" name="email"/>        
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>      
      <div class="row">      
        <!-- /.col -->
        <div class="col-xs-12 ">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Send Password Reset Link</button>
        </div>
        <!-- /.col -->
      </div>
      {{> form_security}}
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
</div>