{{> header}}        
{{> sidebar}}        
<!-- Page Content -->
<div id="page-content-wrapper" class="content-wrapper">
    <section class="content-header">
      <h1>Departments</h1>
      <ol class="breadcrumb">
        <li><a href="/departments"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Departments</li>
      </ol>
    </section>
    <section class="content">
        <div class="row">
        </div>
    </section>
</div>